/*------------------------------CARDS------------------------------*/
.icard {
    height: 26em;
    background-size: auto;
    background-position: center center;
    object-fit: contain;

}



.sh {
    height: auto;
    padding-bottom: 2em;
}


.product a {
    margin-bottom: 1em;
}




.sh {
    height: 10em;
    object-position: center;
}



.product a {
    text-align: center;
    /*height: 3em;*/
}


.F-showcase {

    display: grid;
    flex-direction: row;
    justify-content: center;

    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 3em;

}

.F-showcase img {
    width: 30vw;
}


.sponsor {
    font-family: Arial, sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: #3498db;
    font-size: 1.2em;
    height: 2em;
}

.product {
    margin-top: 2em;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    flex: 1;

    height: auto;

    /* padding-bottom: 7em;*/
    border-radius: 10px;
}

.sm {
    font-size: 1.33em;
    padding-left: 1em;
    padding-right: 1em;
}

.product img {
    
    width: 100%;
    background-size: contain;
    background-position: center center;

}


.F-showcase {
    padding-top: 0;

}





@media only screen and (max-width: 70em) {

    .icard {
       
    background-position: center top;
    object-fit: contain;
     height: 21em;    
    }

    .sh {
        padding-top: 3em;
    }
    
    .sm {
        font-size: 3em;
    }

    .sponsor {
        font-size: 3em;
    }

    #wrapper,
    #float,
    .F-showcase {
        grid-template-columns: 1fr;
    }

    .F-showcase img {
        width: 90vw;
    }



    .sm-title {
        font-size: 5em;
    }


}




















/*-----------------------FCARD------------------------*/

.F-card {
    background-color: #fff;
    margin: .5em;
    border-radius: .7em;
    padding-bottom: 1em;
}


.F-card:hover {
    transition: 0.5s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .75);
}

.card-content > h2 {
    font-size: 2em;
    padding-bottom: .3em;
}

.card-content > p {
    font-size: 1em;
    margin: 0.5em;
}

.card-content {
    /*padding: 1.3em;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}


.F-card h2 {
    text-align: center;
    padding-top: 0.4em;
}




.green {
    background: #1abc9c;
    color: #fff;
}

.blue {
    background: #81D4FA;
}

.red {
    background: #e74c3c;
}

.orange {
    background: #f39c12;
}

.card-link {
    color: white;
    font-size: 3em;
}

.card-link:hover {
    transform: rotate(90deg);
    transition: 0.4s;
    transition-timing-function: ease-in-out;
}

a {
    text-decoration: none;
}

.card-content {
    height: 12em;
}